html{
  height: auto;
  width: auto;
  font-size: 62.5%;
}
body {
  background-color: rgb(0, 128,131);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face{
  font-family: Windows Regular;
  src: url(WindowsRegular.ttf);
}

*{
    font-family: Windows Regular;
  
}
nav{
  border: solid black;
  text-align: center;
  font-size: 2rem;
  background-color: rgb(190,190,190);
  height: 3,5rem;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-shadow: -0.3rem -0.4rem rgb(64,64,64);
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin:0;
  padding:0;
}


.players{
  z-index: 2;
  border: solid black;
  width: 30vw;
  align-self: flex-start;
  margin-left: 10vw;
  /*margin-bottom: 1vw;*/
  background-color: white;
}
.content-p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0 0 0.5rem;
  margin:0.4rem;
  color: black;
  background-color: white;
  font-size: 1.5rem;
}
.identification{
  width: 40%;
}
.orgplay{
  display: flex;
  flex-direction:row;
  align-items:center;
}

.title-p, .title-g{
  text-align: center;
  border-bottom: solid black;
  width: 100%;
  background-color: rgb(190,190,190);
  margin:0;
  font-size: 2rem;
}
.players > div, .game > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-g{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.game{
  border: solid black;
  z-index: 3;
  margin-left: 40vw;
  width: 50vw;
  align-self: center;
  background-color: black;
}
.idPLayers{
  color: white;
  font-size: 2rem;
}
.board {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 10px;
}
.board > div{
  height: 2rem;
  width: 2rem;
}
.space {
  background-color: white;
  border: 0.4rem solid rgb(56, 51, 51);
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
}

footer{
  border: solid black;
  justify-self:flex-end;
  background-color: rgb(190,190,190);
  text-align: left;
  height: 2rem;
  width:100vw;
  margin:0;
  padding: 0;
  display: flex;
  flex-direction:row;
  box-shadow: rgb(64,64,64);
  font-size: 2rem;
}
footer > div{
  width: 10vw;
  display:flex;
  flex-direction:row;
  align-items:center;
  z-index: 1;
  margin-right: 2rem;
  border-right: solid black;
}

footer > div > img{
  margin-right: 0.5rem;
}
#file{
  margin-right:0;
}
#open{
  background-color: rgb(150, 150, 150);
}
#basement, #playagain{
  height: 55%;
  width: auto;
}
